body,
footer,
header {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

// Variables

$blue: #465cff;
$paddingside: 0 200px;
$almost-white: #F6F6F6;
$darkgrey: #606060;
$almost-black: #1A1D1F;
$more-black: #131516;

// Mixins

@mixin paddingside {
  padding-left: 200px;
  padding-right: 200px;
}

@mixin pady10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@mixin pady25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

@mixin button {
  padding-left: 30px;
  padding-right: 30px;
  font: {
    size: 13px;
    weight: bold;
  }
}

@mixin smallbut {
  padding-left: 20px;
  padding-right: 20px;
  font: {
    size: 12px;
    weight: bold;
  }
}

@mixin whitebut {
  color: $darkgrey;
}

@mixin bluebut {
  background-color: $blue;
  color: white;
}

@mixin title-tpad {
  padding-top: 6rem;
}

// Buttons

.btn-primary {
  @include bluebut;
  @include pady10;
  @include button;
}

// Layout

.pt-6 {
  padding-top: 6rem;
}

.px-7 {
  padding-left: 7rem;
  padding-right: 7rem;
}

.px-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

// General

p {
  color: $darkgrey;
}

hr {
  border-color: $blue;
  width: 100px;
  border-width: 3px;
}

.longline {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border-color: lightgrey;
    width: 100%
}

.blue {
  color: $blue;
}

.mh400 {
  max-height: 400px;
}

// Menu

.menulink {
  color: #606060;

  i {
    margin-right: 8px;
  }
}

.uppermenu {
  border-bottom: 1px solid lightgrey;
  padding: $paddingside;

  .upmenuitem {
    @include pady10;
    border-left: 1px solid lightgrey;
  }
}

.lowermenu {
  padding: $paddingside;

  .lowermenuitem {
    @include pady25;
    border-bottom: none;
  }
}

// Divs Divs Divs Divs Divs

// Main Header

.sbgtest {
  padding: 350px 0;
  height: 100%;
  color:white;
  background: {
    image: url("../images/3214321413.jpg");
    size: cover;
    position: center;
  }

  div {
    h1{
      font-size: 5em;
    }
    p {
      font-size: .9em;;
    }
  }
}

// Titlegroups

.titlegroup {
  p {
    @include title-tpad;
  }

  hr {
    @include pady10;
  }
}

// Goodpoints

.goodpoints {
  padding: $paddingside;

  h3 {
    font-weight: bold;
  }
}

// Main Progress Bars Div

.idea {
  width: 100%;
  padding: 0;

  h6 {
  font-size: 1.3em;
  color: white;
  }

 h4 {
font-size: 2.5em;
font-weight: bold;
}

.left-template-container > div > p {
  color: white;
  padding-top:10%;
  padding-bottom:10%;
  font-size: .8em;
}

.left-template-container {
background-color: $blue;
color: white;
padding: 10%;
}

.right-template-container {
  background-color: black;
  color: white;
  padding: 10%;
}

.progress-bar {
  background-color: $blue;
}
}

// Portfolio

.portfolio {
  padding: $paddingside;
  .card {
    border: none;

    .card-text {
      text-align: center;

      h5 {
        font-weight: bold;
      }
    }
  }
}

// Main Features

.features {
  padding: $paddingside;
  padding-bottom: 80px;
  img {
    margin-bottom: 20px;

  }
}

// Triple Backgrounds

.freeship,
.pertool,
.proview {
  border: none;
  color: white;

  h5 {
    font-weight: bold;
  }

  p {
    color: white;
    font-size: 14px;
  }

  .btn-light {
    @include whitebut;
    @include smallbut;
    @include pady10;
  }

  .btn-outline-light {
    @include smallbut;
    @include pady10;
  }

  .btn-primary {
    @include smallbut;
    @include bluebut;
  }
}

// Img + Simple Div

.ideas {
  padding-top: 150px;
  padding-bottom: 150px;
}

// Facts (coffee)

.fact {
  background:{
    image: url("http://newthemes.themeple.co/setup/wp-content/uploads/2017/09/blurbg13.jpg");
    size: cover;
    }
  color: white;
}

  .rw-margin > .col-3 > img{
    webkit-filter: invert(100%);
    filter: invert(100%);
  }


.fact > .container > .rw-margin {
  padding-top: 10%;
  padding-bottom: 10%;
}

.border-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border:solid .5px;
  border-radius: 5px;
  align: center;
  margin: 1%;
}

.text-fact {
  align-text: center;
  padding-left: 5%;

  h3 {
    font-size:1.5em;
  }

  p {
    font-size: .8em
  }

  h2 {
    font-size: 3em;
  }
}

// Blog Posts

.blogposts {
  padding: $paddingside;
  .row {
  .col {
    border-radius: 5px;
    min-height: 50vh;
    p {
      font: {
        weight: 600;
        size: 20px;
      }
    }
   }
  }

  .bloglink {
    padding-top: 40px;
    padding-bottom: 60px;
    a {
      color: black;
      font-weight: bold;
    }
  }
}

// Social Media

.social-media {
  padding-top: 150px;
  padding-bottom: 150px;

  .social-logo{
    font-size: 2.5em;
  }

  .social-text{
    line-height: 28px;
  }
}

// Card Posts

.cardposts {
  @include paddingside;

  h5 {
    font-weight: bold;
  }
  img {
    margin-right: 5px;
  }
}

// footer

footer {

  ul:nth-child(2) {
    hr {
      border-width: 1px;
      border-color: $darkgrey;
      width: inherit;
      margin: 5px 0;
    }
    p:nth-child(3n+2) {
      color: white;
      margin-bottom: 5px;
    }
  }

  ul:nth-child(3) {
    a {
      text-decoration: none;
      color: $darkgrey;
      &:hover {
        color: white;
      }
    }
  }

  ul:nth-child(4) {
    p:nth-child(2) {
      color: white;
    }
    p:nth-child(4) {
      color: white;
    }
  }

  h6 {
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  img {
    width: 40px;
    padding-bottom: 40px;
  }

  div:first-of-type {
    background-color: $almost-black;
    padding: $paddingside;
  }

  div:last-of-type {
    p {
      margin: 0;
    }
    background-color: $more-black;
    padding: $paddingside;
    a {
      color: white;
      i {
        color: $darkgrey;
      }
    }
  }
}

// Backgrounds

.almostwhite {
  background-color: $almost-white;
}

.linearbg {
  background: {
    image: radial-gradient(rgba(70,92,255,0.7),rgba(70,92,255,0.7)), url("../images/58dbbc62a29bf9980648106a_seo-manager.jpg");
    repeat: no-repeat;
    size: cover;
  }
}

.linearbg2 {
  background: {
    image: radial-gradient(rgba(70,92,255,0.7),rgba(70,92,255,0.7)), url("../images/231ยง43.jpg");
    repeat: no-repeat;
  }
}

.headerbg {
  background: {
    image: url("../images/231ยง43.jpg");
    repeat: no-repeat;
  }
}

.headerbg2 {
  background: {
    image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/34253245-1.jpg");
    repeat: no-repeat;
  }
}

.headerbg3 {
  background: {
    image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/324143214.jpg");
    repeat: no-repeat;
    size: cover;
  }
}

.bgcolorblue {
  background-color: $blue;
}

.bgcolorblack {
  background-color: black;
}

.bgmountain {
  background: {
    image: radial-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/c-lad9xizbg-tim-gouw.jpg");
    repeat: no-repeat;
    size: cover;
  }
}

.blog-bg-pc {
  background: {
    image: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/23545-825x600.jpg");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

.blog-bg-girl {
  background: {
    image: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/photography3-825x600.jpg");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}

.blog-bg-items {
  background: {
    image: radial-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/aaron-burden-55603-825x600.jpg");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
}
