$blue: #465cff;

.linearbg {
  background: {
    image: radial-gradient(rgba(70,92,255,0.7),rgba(70,92,255,0.7)), url("../images/58dbbc62a29bf9980648106a_seo-manager.jpg");
    repeat: no-repeat;
    size: cover;
  }
}

.linearbg2 {
  background: {
    image: radial-gradient(rgba(70,92,255,0.7),rgba(70,92,255,0.7)), url("../images/231§43.jpg");
    repeat: no-repeat;
  }
}

.headerbg {
  background: {
    image: url("../images/231§43.jpg");
    repeat: no-repeat;
  }
}

.headerbg2 {
  background: {
    image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/34253245-1.jpg");
    repeat: no-repeat;
  }
}

.headerbg3 {
  background: {
    image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/324143214.jpg");
    repeat: no-repeat;
    size: cover;
  }
}

.bgcolorblue {
  background-color: $blue;
}
